version: "3.9"

services:
  proxy:
    build:
      context: ..
      dockerfile: Dockerfile
    command: ["/usr/local/bin/huginn-proxy", "/config/compose.toml"]
    volumes:
      - ./config/compose.toml:/config/compose.toml:ro
      - ./certs:/config/certs:ro
    ports:
      - "7000:7000"
      - "9900:9900"
    depends_on:
      - backend-a
      - backend-b

  backend-a:
    build:
      context: ./backend-http2
      dockerfile: Dockerfile

  backend-b:
    build:
      context: ./backend-http2
      dockerfile: Dockerfile

